@import url(header.css);
@import url(chat.css);
@import url(about.css);
@import url(carblock.css);
@import url(service.css);
@import url(style.css);
@import url(jasur.css);
@import url(footer.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}
.container{
    margin: 0 auto;
    max-width: 90%;
}
body{
    background-image: url(../img/bg.jpg);
    background-size: 100%;
    background-repeat: repeat;
}